<section class="gallery-wrapper"> 
  {% if page.slides %}   
    <button class="slide-button right" id="advance" value="advance"><span>Next</span></button>     
    <button class="slide-button left" id="back" value="back"><span>Back</span></button> 
    <p class="gallery-count"><span>1</span> | {{ page.slides.size }}</p>  
  {% endif %}  

   {% if page.video %}   
  <div class="gallery video"> 
      {% else %}
        <div class="gallery"> 
          {% endif %}

{% if page.slides %}   
{% for slide in page.slides %}
  {% if forloop.first %}
    <figure class="slide med-photo-overlay center">
  {% else %}
   <figure class="slide med-photo-overlay">
  {% endif %}
      <picture>
        <source data-srcset="/siteart/slides/large_{{ slide }}.jpg" media="(min-width:900px)">
        <source data-srcset="/siteart/slides/med_{{ slide }}.jpg" media="(min-width: 450px)">
        <source data-srcset="/siteart/slides/small_{{ slide }}.jpg">
        <img class="lazyload" data-src="/siteart/slides/large_{{ slide }}.jpg" alt=""> 
      </picture>
    </figure>     
{% endfor %}
{% endif %}
{% if page.image %}
<figure class="slide med-photo-overlay center">
      <picture>
        <source data-srcset="/siteart/slides/large_{{ page.image }}.jpg" media="(min-width:900px)">
        <source data-srcset="/siteart/slides/med_{{ page.image }}.jpg" media="(min-width: 450px)">
        <source data-srcset="/siteart/slides/small_{{ page.image }}.jpg">
        <img class="lazyload" data-src="/siteart/slides/large_{{ page.image }}.jpg" alt=""> 
      </picture>
    </figure> 
    {% endif %}  
{% if page.video %}
    <figure class="slide center">
      <video width="100%" controls>
          <source src="/siteart/video/{{ page.video }}.mov">
      </video>
    </figure>
    {% endif %}  

    </div>  
</section>


