{% if pageType == portfolio_entry and page.pageType != mil %}

{% if page.collection == "design" %}
  {% assign teasers = site.design %}
  {% assign foobar = "design" %}
{% elsif page.collection == "writing" %}
  {% assign teasers = site.writing %}
  {% assign foobar = "writing" %}
{% endif %}

{% for item in teasers %}
{% if item.title == page.title and forloop.index != 1 and forloop.index != teasers.size %}
        {% assign prevnum = forloop.index | minus: 2 %}
        {% assign prev = teasers[prevnum] %}
        {% assign next = teasers[forloop.index] %}
        {% assign current = forloop.index %}
    {% elsif item.title == page.title and forloop.first %}
        {% assign prev = teasers.last %}
        {% assign next = teasers[forloop.index] %}
        {% assign current = forloop.index %}
    {% elsif item.title == page.title and forloop.last %}
        {% assign next = teasers.first %} 
        {% assign num = forloop.index | minus: 2 %}
        {% assign prev = teasers[num] %}
        {% assign current = forloop.index %}   
    {% endif %}  
{% endfor %}

{% if prev.thumb %}
    {% assign thumbnailLeft = prev.thumb %}
    {% assign thumbnailRight = next.thumb %}
    {% assign url = "/siteart/slides/" %}
{% else %} 
    {% assign thumbnailLeft = prev.image %}
    {% assign thumbnailRight = next.image %}
    {% assign url = "/siteart/" %}
{% endif %}    

<div class="pagination-wrapper">
    <p class="page-number">Page {{ current }} of {{ teasers.size }}</p>
    <div class="pagination">
        <div class="pagination-direction back">
            <a href="{{ prev.url }}" rel="prev">
                <figure class="med-photo-overlay">
                    <img src="{{ url }}xsmall_{{ thumbnailLeft }}.jpg">
                    {% if alt %}
                        alt="{{ alt }}">
                    {% endif%}
                    </img>
                </figure>

                <svg class="teaser-arrow-icon arrow-icon-left">
                    <use xlink:href="#arrow-right" />
                </svg>
                {{ prev.title }}
            </a>
        </div>   

        <div class="pagination-direction">
            <a href="{{ next.url }}" rel="next" class="next">
            <figure class="med-photo-overlay">
                    <img src="{{ url }}xsmall_{{ thumbnailRight }}.jpg">
                    {% if alt %}
                    alt="{{ alt }}">
                {% endif%}
                </img>
            </figure>
                {{ next.title }}
            <svg class="teaser-arrow-icon">
                <use xlink:href="#arrow-right" />
            </svg>
            </a>
        </div>
    </div>
</div>
{% endif %}





