<div id="inside-header" class="nav-fixed-bar">
  <a href="/" rel="index" class="main-header-logo-link">
    <svg id="header-logo" class="main-header-logo" aria-hidden="true">
      <use xlink:href="#nameplate" />
    </svg>
  </a>
  <p class="hidden">David Putney</p></a>
  <nav class="nav-list-wrapper">

{% if pageType == 'blog' or pageType == 'about' or pageType == 'portfolio_entry' %}
<ul id="nav-menu" class="nav-list nav-list--nodisplay">
  @@include('../shared/nav_links.html')
</ul>
{% else %}
  <ul id="nav-menu" class="nav-list">
    @@include('../shared/nav_links.html')
  </ul>
{% endif%}

</nav>
  @@include('components/menu_button.html')
  <div class="scroll-progress-wrapper">
    <div id="scroll-progress" class="scroll-progress"></div>
  </div>
</div>
