{% assign pageType = page.pageType %}
<!-- og image -->
{% capture ogImage %}med_placeholder.jpg{% endcapture %}
<!-- og description -->
{% if pageType == 'portfolio_entry' %}
	{% assign ogDescription = page.content | truncatewords: "120" | strip_html | xml_escape %}
	{% assign ogKeywords = page.keywords | join: ', ' %}
{% else %}
	{% assign ogDescription = site.description %}
	<!-- of keywords  -->
	{% assign ogKeywords = site.keywords | join: ', ' %}
{% endif %}
<!-- og title -->	
{% assign ogTitle = site.description %}


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<!-- facebook -->
<meta property="og:title" content="{{ogTitle}}" />
<meta property="og:site_name" content="David Putney | This is my site"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ogDescription}}" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{site.url}}/siteart/{{ogImage}}" />
<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ogTitle}}" />
<meta name="twitter:description" content="{{ogDescription | truncate: "200"}}" />
<meta name="twitter:image" content="{{site.url}}/siteart/{{ogImage}}" />
<!-- other -->
<meta name="description" content="{{ogDescription}}" />
<meta name="keywords" content="{% if ogKeywords %}{{ogKeywords}}, {% endif %}{{ogSiteKeywords}}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="news_keywords" content="David Putney, design, web design, internet design, web sites, CSS, HTML, jQuery" />
<meta name="geo.placename" content="Saratoga Springs, Utah">
<meta name="author" content="David Putney">
