<!DOCTYPE html>
<html lang="en" class="no-js">
	{% include head.html %}
	<body>
	@@include('partials/skip_links.html')
	<div class="svg-import hidden" aria-hidden="true">
			@@include('../svg/svgsprite.svg')
	{% if pageType == portfolio_entry %}	
		@@include('../svg/port_svgsprite.svg')
	{% endif %}
	</div>
		@@include('partials/headers/fixed_header_inside.html')
		<h1>{{ page.pagetype }}</h1>
	{{content}}
</main>
	@@include('partials/footer/footer.html')
	@@include('partials/js_links.html')
</body> 
	{% include google_analytics.html %}
</html>