.main {
	z-index:0;
	grid-area:content;
}
.large-billboard {
    z-index:1;
    grid-area: header;
	margin:rem(60) auto;
	@media screen and (max-width:em(500)) {
		margin:0;
	}
} 
.nav-fixed-bar--display {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	z-index:3;
	margin:rem(60) auto;
	@media screen and (max-width:em(900)) {
		top:45px;
		bottom:initial;
		}
	@media screen and (max-width:rem(430))	{
		top:0;
		bottom:initial;
		margin:rem(36) auto;
	}
	.nav-menu-button{ display:none; }
}
.main-header-logo--display {
	fill:$aqua;
	// to get height divide the width by 4
	height:rem(125);
	width:rem(500);
	opacity:0;
	transform: translateY(-50px);
	@media screen and (max-width:em(800)) {
		height:rem(100);
		width:rem(400);
	}
	@media screen and (max-width:em(430)) {
		height:rem(70);
		width:rem(280);
		margin:0 rem(30) rem(10); 
	}
	@media (prefers-color-scheme: dark) {
		fill:$light-aqua;
	}	
}
.nav-list--display {
	width:100%;
	height:auto;
	display: flex;
	justify-content: center;
	opacity:0;
	transform: translateY(30px);
	margin:rem(16) auto 0;
		@media screen and (max-width:em(430)) {
			top:rem(210);
			display: flex;
			justify-content: center;
			flex-direction: column;
			}
		li {
			font-size:em(20);
			font-family:$sans;
			text-transform:uppercase;
			color:white;
			padding:rem(3) rem(6);
			letter-spacing:.03em;
			text-align: center;
			a {
				background-image:none;
				color:$aqua;
				&:hover {color:$light-aqua;}
				@media screen and (prefers-color-scheme: dark) {
					color:$light-aqua;
					&:hover {color:$x-light-aqua;}
				} 
			}		
			&::after {
				content:'|';
				display:inline-block;
				margin:0 0 0 rem(12);
				color:$light;
				letter-spacing:-.1em;
				vertical-align: rem(1);
				font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
				font-weight:300;
				@media screen and (prefers-color-scheme: dark) {
					color:white;
				} 
			}
			&:nth-child(3) {
				padding-right:0;
				&::after{content:'';display:none;}
			}
			@media screen and (max-width:em(800)) {
				font-size:rem(16);
			}
			@media screen and (max-width:em(430)) {
				width:100%;
				margin:0;
				padding:rem(3) 0 rem(15);
					&::after {content:''; display:none;}
			}
		}
}
// preload page element sizes
.teaser-module-container {
    margin: 0 auto;
    max-width: rem(1100);
    position: relative;
    @media screen and (max-width:em(1120)) {
        padding: 0;
    }
}
.teaser-module	{
	@include spanner_too (12, 1100, 0, 12);
	margin:0 0 rem(72) 0;
	&.set {
		opacity:0;
	}
	&.active {
		opacity:1;
		transition: opacity 1s ease-in-out;
	}
	&::after {
		display: block;
		max-width:rem(400);
		height:rem(1);
		content:"";
		border-bottom:1px solid $med;
		margin:0 auto rem(72);
	}
	@media screen and (max-width:rem(700)) {
		&::after {
			margin:0 20% rem(72);
		}	
    }	
	&:last-child {
		&::after {
			display: none;
		}
	}
	p {
		a {
			font-family:$sans;
			color:$aqua;
			margin:0 rem(4) 0 0;
			text-decoration:none;
			display:inline-block;
			font-size:em(13);
			text-transform:uppercase;
			letter-spacing:.07em;
			background-image:none;
			@media screen and (prefers-color-scheme: dark) {
				color:$light-aqua;
			} 
			.teaser-arrow-icon {
				vertical-align: -5px;
			} 
		}	
	}
}

h1.teaser-module-head	{
	font-size:em(36);
	margin:0;
	padding:0 0 rem(6) 0;
	text-align:center;
		a {
		color:$body;
		background-image:none;
		&:hover {
			color:$light-aqua;
		}	
	}
	@media screen and (prefers-color-scheme: dark) {
		a {
		color:white;
		}
	} 
	@media screen and (max-width:rem(1120)) {
        font-size: rem(30);
    }	
	@media screen and (max-width:rem(500)) {
        font-size: rem(22);
    }	
}
h2.teaser-module-subhead	{
	font-size:em(20);
	margin:0 0 rem(36);
	padding:0;
	text-align:center;
	color:$med;
	@media screen and (prefers-color-scheme: dark) {
		color:$x-light-aqua;
	} 
	@media screen and (max-width:rem(1120)) {
        font-size: rem(18);
    }		
	@media screen and (max-width:rem(500)) {
        font-size: rem(16);
		margin:0 0 rem(24);
    }	
}
.teaser-module-mainart {
	margin:0 0 rem(36) 0;
	display:block;
	overflow:hidden;
	position:relative;
	padding:0 0 $image-ratio;
	background-color:$xxlight;
	@media ( prefers-color-scheme: dark ) {
		background-color: $dark;
	}	
	@media screen and (max-width:em(750)) {
		margin:0 0 rem(24) 0;
	}
	picture {
			position:absolute;
			top:0;
			left:0;
			display:block;
		}	
}
.teaser-module-mainart.med-photo-overlay:after {
	@media screen and (max-width:em(750)) {
		padding-bottom: 59.9%;
	}
}
.site-footer {
	grid-area: footer;
}
.index-trans {
	opacity:0;
	transform: scale(1.01);
	&.active {
		opacity:1;
		transition: opacity .4s ease-in-out .65s, transform .3s ease-in-out .65s;
		transform: scale(1);
	}
}

	