.portfolio-role-group {
	margin:0 0 30px 0;
}
.portfolio-role-container {
	width:100%;
	ul.portfolio-role-list {
		display:flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin:0;
		li.portfolio-role-text {
			margin:0 0 12px;
			padding:0 3px;
			flex-shrink: 0;
			flex-basis: 33.33%;
			font-size: 10px;
			text-transform: uppercase;
			font-family: $sans;
			letter-spacing: .05em;
			text-align: center;   
			min-width:88px;
			max-width: 116px;
			@media screen and (min-width:rem(352)) {
				flex-basis: 25%;
			}
			@media screen and (min-width:rem(440)) {
				flex-basis: 20%;
				margin:0 0 12px;
				padding:0 6px;
			}	
			@media screen and (min-width:rem(528)) {
				flex-basis: 16%;
			}
			&::before {
				display:none;
			}
		}
	}
}	
.portfolio-role-icon {
	width:60px;
	height:60px;
	border:2px solid $aqua;
	margin:0 auto 8px;
	border-radius: 50%;
	flex-shrink: 0;
	flex-grow:0;
	&.main {
		border:3px solid $aqua;
		background-color: $aqua;
		// fill:$dark_aqua;
		@media ( prefers-color-scheme: dark) {
			border:3px solid $light_aqua;
			fill:$light_aqua;
			background: transparent;
        }
		.footer-icon {
			fill:white;
			@media ( prefers-color-scheme: dark) {
				fill:$light_aqua;
			}
		}
	}
	@media ( prefers-color-scheme: dark) {
		border:2px solid $aqua;
	}
}
hr {
	width: 50%;
	border-color:$light;
	border-width: 1px 0 0;
	margin-top:30px;
	margin-bottom:30px;
	@media ( prefers-color-scheme: dark) {
		border-color:$med;
	}
}
pagination-wrapper {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding:rem(36) 0 0;
}
.pagination {
    display: flex;
    flex-direction: row;
    margin: 0 0 rem(80);
    @media screen and (max-width:em(500)) {
        margin: 0 0 rem(40);
    }
}
.pagination-direction {
    flex-basis: 50%;
    font-family: $sans;
    font-size: rem(18);
    padding: 0 rem(15);
    a {
        background: none;
        color: $aqua;
        @media (prefers-color-scheme: dark) {
            color: $light-aqua;
            &:hover {
                color: $aqua;
            }
        } 
        &:hover {
            color: $dark_aqua;
            @media (prefers-color-scheme: dark) {
                color: $aqua;
            } 
        }
    }
    @media screen and (min-width:em(450)) {
        font-size: rem(24);
    }
}
.pagination .back {
    text-align: right;
    border-right: 1px solid $light;
}
.page-number {
    font-size: rem(16);
    font-family: $sans;
    text-align: center;
}
.arrow-icon-left {
    transform: scaleX(-1);
    filter: FlipH;
}   
.button.portfolio {
    margin-top:40px;
    @media screen and (min-width:em(520)) {
        margin-top:60px;
    }
}
